body {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #212121;
  }
}

.list {
  text-align: center;
  :nth-child(even) {
    background-color: #dedede;
  }

  h3 {
    border-bottom: 1px solid #efefef;
    font-size: 2.5rem;
  }
  div {
    height: 5rem;
    text-align: center;

    :nth-child(n) {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
    }
  }
}

.editing {
  text-align: center;
}
