<!DOCTYPE html>
<!-- Change Me -->
<html ng-app='groceryApp'>
<head>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js'></script>
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js'></script>
  <script src='./js/app.js'></script>
  <script src='./js/routes.js'></script>
  <script src='./js/filters.js'></script>
  <script src='./js/controllers.js'></script>
  <script src='./js/directives.js'></script>
  <script src='./js/services.js'></script>
  <script src='./js/factories.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,700,900' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='./css/styles.css'>
</head>
<!-- Change Me -->
<body ng-controller='groceryController as GC'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-12 title'>
        <h1>Welcome to Groceries-R-Us!</h1>
      </div>
    </div>
    <div class='row editing'>
      <div class='col-md-4 col-md-offset-2'>
        <button class='btn btn-info'>Add an Item</button>
      </div>
      <div class='col-md-4'>
        <button class='btn btn-warning'>Edit an Item</button>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-5 col-md-offset-1 list'>
        <h3>Name</h3>
        <div ng-repeat='grocery in GC.groceries'>
          <h5>{{grocery.name}}</h5>
        </div>
      </div>
      <div class='col-md-2 list'>
        <h3>Quantity</h3>
        <div ng-repeat='grocery in GC.groceries'>
          <h5>{{grocery.quantity}}</h5>
        </div>
      </div>
      <div class='col-md-1 list'>
        <h3>Found</h3>
        <div  ng-repeat='grocery in GC.groceries' >
          <input type='checkbox'/>
        </div>
      </div>
      <div class='col-md-2 list'>
        <h3>Woops</h3>
        <div ng-repeat='grocery in GC.groceries'>
          <button class='btn btn-danger'>Remove</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
